@model Equipe

@{
    ViewData["title"] = "Equipe";
}

<link rel="stylesheet" href="~/css/equipe.css">

<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">

        @if (ViewBag.Username == null)
        {
            <li>
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
            </li>
        }
        else
        {
            <form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data" class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Equipes</h1>
                    <hr>
                </div>

                @* <input class="campo-entrada" type="number" id="idEquipe" placeholder="Digite o Id da sua equipe:"> *@
                <input name="Nome" class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:" required>
                <label class="foto" for="foto-file">
                    @* Nenhuma imagem selecionada... *@
                    <input name="Imagem" type="file" id="foto-file">
                </label>

                <button>Cadastro</button>

                <!-- <select class="equipeid" id="equipeid">
                                    <option value="">Selecione uma Equipe</option>
                                    <option value="x">Equipe X</option>
                                    <option value="y">Equipe Y</option>
                                </select> -->
            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Foto</th>
                        <th>Excluir</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <tr>
                            <td>@equipe.IdEquipe</td>
                            <td>@equipe.Nome</td>
                            <td>
                                <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da Equipe @equipe.Nome" width="50px">
                            </td>
                            <td class="espaco-td">
                                <a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe"><img
                                        class="yellow-trash" src="../assets/trash.png" alt=""></a>

                                <a asp-area="" asp-controller="Equipe" asp-action="Editar"
                                    asp-route-id="@equipe.IdEquipe"><img src="" alt=""><img src="~/assets/pen-solid.svg" alt=""></a>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>

        }

    </section>
</main>

























@*
<h1>Tela de Equipes</h1>


else
{
<form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">

<label for="">Nome</label>
<input type="text" name="Nome">

<label for="">Imagem</label>
<input type="file" name="Imagem">


<button type="submit">Cadastrar</button>

</form>

<table class="table table-striped table-responsive">
<thead>
<th>Id</th>
<th>Nome< main .cadastro-equipes .frm-cad-equipe,
main .cadastro-equipes table {
width: 800px;
}

main .cadastro-equipes .frm-cad-equipe .foto {
width: 100%;
font-size: 16px;
gap: 20px;
}

main .cadastro-equipes .frm-cad-equipe .foto::before {
width: 280px;
height: 40px;
font-size: 16px;
}
main .cadastro-equipes .frm-cad-equipe button {
width: 243px;
}/th>
<th>Imagem</th>
<th>Ações</th>
</thead>

<tbody>
@foreach (Equipe equipe in ViewBag.Equipe)
{
<tr>
<td>@equipe.IdEquipe</td>
<td>@equipe.Nome</td>
<td>
<img src="/img/Equipes/@equipe.Imagem" alt="Imagem da Equipe @equipe.Nome" width="50px">
</td>

</tr>
}

</tbody>
</table>
} *@

