@model Jogador

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/edit-jogador.css">

<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">
        @if (ViewBag.Username == null)
        {
            <li>
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
            </li>
        }
        else
        {
            <form method="post" action="@Url.Action("Atualizar")" class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Edição de Jogadores</h1>
                    <hr>
                </div>

                
                <input type="hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

                <input name="Nome" class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:" value="@ViewBag.Jogador.Nome">

                <input name="Email" class="campo-entrada" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:" value="@ViewBag.Jogador.Email">

                <input name="Senha" class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:">


                <select required name="IdEquipe" class="campo-entrada" id="equipe-select">
                    <option value="0">Selecione uma opção</option>

                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <option value="@equipe.IdEquipe">@equipe.Nome</option>
                    }
                </select>

                <button type="submit">Atualizar</button>

            </form>
        }

    </section>
</main>